@use './variables.scss' as theme;

.navlist {
    background: white;
    box-shadow: 0px 0px 10px map-get($map: theme.$colors, $key:secondary);
    padding: 1rem 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    height: 15vh;
  }
  
  .navitem {
    list-style: none;
    margin-right: 2rem;
  }
  
  .navitem a {
    text-decoration: none;
    color: black;
    transition: all 200ms ease-in;
  }
  
  .navitem a:hover {
    color: map-get($map: theme.$colors, $key:primary);
  }
  
  .navitem:first-child {
    margin-right: auto;
    margin-left: 2rem;
  }
  
  .btnprimary {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    background: map-get($map: theme.$colors, $key:primary);
    border: none;
    outline: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
  }
  
  .btnprimary:hover {
    background: map-get($map: theme.$colors, $key:primary);
  }

.sidemenu {
    position: fixed;
    width: 20rem;
    height: 100%;
    left: 0;
    left: -20rem;
    top:0;
    background: black;
    color: wheat;
    border: 2px solid red;
}


@media (max-width: 480px) {
   
}  
  