$theme: (
   primary:(
     base: #444499,
     dark: darker(#444499,20%),
     light: lighter(#444499,10%)
   ),
   secondary:(
    base: #444499,
    dark: darker(#444499,20%),
    light: lighter(#444499,10%)
  ),
  darkMode:(
    primary: #24225A,
    secondary: white,
    warning: #000
  ),
  lightMode: (
    primary: #b99a9a,
    secondary: rgb(36, 31, 31),
    warning: rgb(182, 24, 24)
  ),
  status: (
    mode: true
  )
);

$colors: map-get($theme,lightMode);



